# Data Exploration & Analysis of the Lehman Baseball Database
## http://seanlahman.com/baseball-archive/statistics

In [30]:
import pandas as pd
import numpy as np
from collections import namedtuple

### The data consists of over a dozen CSV files.  They offer a MySQL version but let's see if we can get away without that.

In [33]:
from os import listdir
from os.path import isfile, join
path = 'baseballdatabank-master/core/'
files = [f for f in listdir(path) if isfile(join(path, f)) and f[len(f) - 3:] == 'csv']
print files

Table = namedtuple('Table', ['name', 'df'])
dfs = [Table(f, pd.read_csv(path + f)) for f in files]
dfs

['TeamsHalf.csv', 'AwardsShareManagers.csv', 'AwardsPlayers.csv', 'Batting.csv', 'TeamsFranchises.csv', 'Appearances.csv', 'PitchingPost.csv', 'Pitching.csv', 'Schools.csv', 'AllstarFull.csv', 'FieldingOF.csv', 'FieldingPost.csv', 'Teams.csv', 'Salaries.csv', 'AwardsManagers.csv', 'HomeGames.csv', 'ManagersHalf.csv', 'SeriesPost.csv', 'Fielding.csv', 'Parks.csv', 'HallOfFame.csv', 'Managers.csv', 'BattingPost.csv', 'AwardsSharePlayers.csv', 'Master.csv', 'CollegePlaying.csv']

[Table(name='TeamsHalf.csv', df=    yearID lgID teamID  Half divID DivWin  Rank   G   W   L
0     1981   NL    ATL     1     W      N     4  54  25  29
1     1981   NL    ATL     2     W      N     5  52  25  27
2     1981   AL    BAL     1     E      N     2  54  31  23
3     1981   AL    BAL     2     E      N     4  51  28  23
4     1981   AL    BOS     1     E      N     5  56  30  26
5     1981   AL    BOS     2     E      N     2  52  29  23
6     1981   AL    CAL     1     W      N     4  60  31  29
7     1981   AL    CAL     2     W      N     6  50  20  30
8     1981   AL    CHA     1     W      N     3  53  31  22
9     1981   AL    CHA     2     W      N     6  53  23  30
10    1981   NL    CHN     1     E      N     6  52  15  37
11    1981   NL    CHN     2     E      N     5  51  23  28
12    1981   NL    CIN     1     W      N     2  56  35  21
13    1981   NL    CIN     2     W      N     2  52  31  21
14    1981   AL    CLE     1     E      N     6  50  26  24
15    1981   AL    CLE     2     E      N     5  53  26  27
16    1981   AL    DET     1     E      N     4  57  31  26
17    1981   AL    DET     2     E      N     2  52  29  23
18    1981   NL    HOU     1     W      N     3  57  28  29
19    1981   NL    HOU     2     W      N     1  53  33  20
20    1981   AL    KCA     1     W      N     5  50  20  30
21    1981   AL    KCA     2     W      N     1  53  30  23
22    1981   NL    LAN     1     W      N     1  57  36  21
23    1981   NL    LAN     2     W      N     4  53  27  26
24    1981   AL    MIN     1     W      N     7  56  17  39
25    1981   AL    MIN     2     W      N     4  53  24  29
26    1981   AL    ML4     1     E      N     3  56  31  25
27    1981   AL    ML4     2     E      N     1  53  31  22
28    1981   NL    MON     1     E      N     3  55  30  25
29    1981   NL    MON     2     E      N     1  53  30  23
30    1981   AL    NYA     1     E      N     1  56  34  22
31    1981   AL    NYA     2     E      N     5  51  25  26
32    1981   NL    NYN     1     E      N     5  51  17  34
33    1981   NL    NYN     2     E      N     4  52  24  28
34    1981   AL    OAK     1     W      N     1  60  37  23
35    1981   AL    OAK     2     W      N     2  49  27  22
36    1981   NL    PHI     1     E      N     1  55  34  21
37    1981   NL    PHI     2     E      N     3  52  25  27
38    1981   NL    PIT     1     E      N     4  48  25  23
39    1981   NL    PIT     2     E      N     6  54  21  33
40    1981   NL    SDN     1     W      N     6  56  23  33
41    1981   NL    SDN     2     W      N     6  54  18  36
42    1981   AL    SEA     1     W      N     6  57  21  36
43    1981   AL    SEA     2     W      N     5  52  23  29
44    1981   NL    SFN     1     W      N     5  59  27  32
45    1981   NL    SFN     2     W      N     3  52  29  23
46    1981   NL    SLN     1     E      N     2  50  30  20
47    1981   NL    SLN     2     E      N     2  52  29  23
48    1981   AL    TEX     1     W      N     2  55  33  22
49    1981   AL    TEX     2     W      N     3  50  24  26
50    1981   AL    TOR     1     E      N     7  58  16  42
51    1981   AL    TOR     2     E      N     6  48  21  27),
 Table(name='AwardsShareManagers.csv', df=             awardID  yearID lgID   playerID  pointsWon  pointsMax  votesFirst
0    Mgr of the year    1983   AL  altobjo01          7         28           7
1    Mgr of the year    1983   AL    coxbo01          4         28           4
2    Mgr of the year    1983   AL  larusto01         17         28          17
3    Mgr of the year    1983   NL  lasorto01         10         24          10
4    Mgr of the year    1983   NL  lillibo01          9         24           9
5    Mgr of the year    1983   NL  owenspa99          1         24           1
6    Mgr of the year    1983   NL  tannech01          4         24           4
7    Mgr of the year    1984   AL  andersp01         96        140          13
8    Mgr of the year    1984   AL    coxbo01          9        140           0
9    Mgr of the year    1984   AL  gardnbi02         48        140           4
10   Mgr of the year    1984   AL  howsedi01         95        140          11
11   Mgr of the year    1984   AL  mcnamjo99          4        140           0
12   Mgr of the year    1984   NL   freyji99        101        120          16
13   Mgr of the year    1984   NL  johnsda02         72        120           4
14   Mgr of the year    1984   NL  lillibo01          2        120           1
15   Mgr of the year    1984   NL  willidi02         41        120           4
16   Mgr of the year    1985   AL    coxbo01        104        140          16
17   Mgr of the year    1985   AL  howsedi01         66        140           4
18   Mgr of the year    1985   AL  larusto01          1        140           0
19   Mgr of the year    1985   AL  martibi02         19        140           0
20   Mgr of the year    1985   AL  mauchge01         57        140           8
21   Mgr of the year    1985   AL  mcnamjo99          1        140           0
22   Mgr of the year    1985   AL  mooreja01          4        140           0
23   Mgr of the year    1985   NL  herzowh01         86        120          11
24   Mgr of the year    1985   NL  johnsda02          4        120           0
25   Mgr of the year    1985   NL  lasorto01         39        120           3
26   Mgr of the year    1985   NL  rodgebu01          2        120           0
27   Mgr of the year    1985   NL   rosepe01         85        120          10
28   Mgr of the year    1986   AL  corrapa01         18        140           1
29   Mgr of the year    1986   AL  mauchge01         44        140           2
..               ...     ...  ...        ...        ...        ...         ...
384  Mgr of the Year    2013   NL  mathemi01         19        150           0
385  Mgr of the Year    2014   AL  showabu99        132        150          25
386  Mgr of the Year    2014   AL  sciosmi01         61        150           4
387  Mgr of the Year    2014   AL   yostne01         41        150           0
388  Mgr of the Year    2014   AL  mcclell01         29        150           1
389  Mgr of the Year    2014   AL  francte01          2        150           0
390  Mgr of the Year    2014   AL  girarjo01          1        150           0
391  Mgr of the Year    2014   AL  melvibo01          1        150           0
392  Mgr of the Year    2014   NL  willima04        109        150          18
393  Mgr of the Year    2014   NL  hurdlcl01         80        150           8
394  Mgr of the Year    2014   NL  bochybr01         30        150           3
395  Mgr of the Year    2014   NL  mathemi01         18        150           0
396  Mgr of the Year    2014   NL  redmomi01         16        150           1
397  Mgr of the Year    2014   NL  mattido01         12        150           0
398  Mgr of the Year    2014   NL  roeniro01          3        150           0
399  Mgr of the Year    2014   NL  blackbu02          1        150           0
400  Mgr of the Year    2014   NL  collite99          1        150           0
401  Mgr of the Year    2015   AL  banisje01        112        150          17
402  Mgr of the Year    2015   AL  hinchaj01         82        150           8
403  Mgr of the Year    2015   AL  molitpa01         33        150           2
404  Mgr of the Year    2015   AL  gibbojo02         22        150           1
405  Mgr of the Year    2015   AL  girarjo01         12        150           2
406  Mgr of the Year    2015   AL   yostne01          8        150           0
407  Mgr of the Year    2015   AL  sciosmi01          1        150           0
408  Mgr of the Year    2015   NL  maddojo99        124        150          18
409  Mgr of the Year    2015   NL  mathemi01         87        150           9
410  Mgr of the Year    2015   NL  collite99         49        150           3
411  Mgr of the Year    2015   NL  hurdlcl01          8        150           0
412  Mgr of the Year    2015   NL  bochybr01          1        150           0
413  Mgr of the Year    2015   NL  mattido01          1        150           0

[414 rows x 7 columns]),
 Table(name='AwardsPlayers.csv', df=       playerID                              awardID  yearID lgID  tie notes
0      bondto01                Pitching Triple Crown    1877   NL  NaN   NaN
1     hinespa01                         Triple Crown    1878   NL  NaN   NaN
2     heckegu01                Pitching Triple Crown    1884   AA  NaN   NaN
3     radboch01                Pitching Triple Crown    1884   NL  NaN   NaN
4     oneilti01                         Triple Crown    1887   AA  NaN   NaN
5     keefeti01                Pitching Triple Crown    1888   NL  NaN   NaN
6     clarkjo01                Pitching Triple Crown    1889   NL  NaN   NaN
7     rusieam01                Pitching Triple Crown    1894   NL  NaN   NaN
8     duffyhu01                         Triple Crown    1894   NL  NaN   NaN
9     youngcy01                Pitching Triple Crown    1901   AL  NaN   NaN
10    lajoina01                         Triple Crown    1901   AL  NaN   NaN
11    wadderu01                Pitching Triple Crown    1905   AL  NaN   NaN
12    mathech01                Pitching Triple Crown    1905   NL  NaN   NaN
13    chaseha01           Baseball Magazine All-Star    1908   AL  NaN    1B
14    lajoina01           Baseball Magazine All-Star    1908   AL  NaN    2B
15     lordha01           Baseball Magazine All-Star    1908   AL  NaN    3B
16    crigelo01           Baseball Magazine All-Star    1908   AL  NaN     C
17    sullibi03           Baseball Magazine All-Star    1908   AL  NaN     C
18    crawfsa01           Baseball Magazine All-Star    1908   AL  NaN    CF
19    stonege01           Baseball Magazine All-Star    1908   AL  NaN    LF
20    walshed01           Baseball Magazine All-Star    1908   AL  NaN    P1
21    youngcy01           Baseball Magazine All-Star    1908   AL  NaN    P2
22    wadderu01           Baseball Magazine All-Star    1908   AL  NaN    P3
23     jossad01           Baseball Magazine All-Star    1908   AL  NaN    P4
24    donovbi01           Baseball Magazine All-Star    1908   AL  NaN    P5
25     cobbty01           Baseball Magazine All-Star    1908   AL  NaN    RF
26    wallabo01           Baseball Magazine All-Star    1908   AL  NaN    SS
27    chaseha01           Baseball Magazine All-Star    1908   ML  NaN    1B
28    lajoina01           Baseball Magazine All-Star    1908   ML  NaN    2B
29    devliar01           Baseball Magazine All-Star    1908   ML  NaN    3B
...         ...                                  ...     ...  ...  ...   ...
6048  heywaja01                           Gold Glove    2015   NL  NaN    RF
6049  crawfbr01                           Gold Glove    2015   NL  NaN    SS
6050  donaljo02                     Hank Aaron Award    2015   AL  NaN   NaN
6051  harpebr03                     Hank Aaron Award    2015   ML  NaN   NaN
6052  donaljo02                 Most Valuable Player    2015   AL  NaN   NaN
6053  harpebr03                 Most Valuable Player    2015   NL  NaN   NaN
6054  murphda08                             NLCS MVP    2015   NL  NaN   NaN
6055  mccutan01               Roberto Clemente Award    2015   ML  NaN   NaN
6056  correca01                   Rookie of the Year    2015   AL  NaN   NaN
6057  bryankr01                   Rookie of the Year    2015   NL  NaN   NaN
6058  cabremi01                       Silver Slugger    2015   AL  NaN    1B
6059  altuvjo01                       Silver Slugger    2015   AL  NaN    2B
6060  donaljo02                       Silver Slugger    2015   AL  NaN    3B
6061  mccanbr01                       Silver Slugger    2015   AL  NaN     C
6062  moralke01                       Silver Slugger    2015   AL  NaN    DH
6063  troutmi01                       Silver Slugger    2015   AL  NaN    OF
6064  martijd02                       Silver Slugger    2015   AL  NaN    OF
6065   cruzne02                       Silver Slugger    2015   AL  NaN    OF
6066  bogaexa01                       Silver Slugger    2015   AL  NaN    SS
6067  goldspa01                       Silver Slugger    2015   NL  NaN    1B
6068  gordode01                       Silver Slugger    2015   NL  NaN    2B
6069  arenano01                       Silver Slugger    2015   NL  NaN    3B
6070  poseybu01                       Silver Slugger    2015   NL  NaN     C
6071  harpebr03                       Silver Slugger    2015   NL  NaN    OF
6072  gonzaca01                       Silver Slugger    2015   NL  NaN    OF
6073  mccutan01                       Silver Slugger    2015   NL  NaN    OF
6074  bumgama01                       Silver Slugger    2015   NL  NaN     P
6075  crawfbr01                       Silver Slugger    2015   NL  NaN    SS
6076  donaljo02  TSN Major League Player of the Year    2015   ML  NaN   NaN
6077  perezsa02                     World Series MVP    2015   ML  NaN   NaN

[6078 rows x 6 columns]),
 Table(name='Batting.csv', df=         playerID  yearID  stint teamID lgID    G   AB   R    H  2B  ...   \
0       abercda01    1871      1    TRO  NaN    1    4   0    0   0  ...
1        addybo01    1871      1    RC1  NaN   25  118  30   32   6  ...
2       allisar01    1871      1    CL1  NaN   29  137  28   40   4  ...
3       allisdo01    1871      1    WS3  NaN   27  133  28   44  10  ...
4       ansonca01    1871      1    RC1  NaN   25  120  29   39  11  ...
5       armstbo01    1871      1    FW1  NaN   12   49   9   11   2  ...
6       barkeal01    1871      1    RC1  NaN    1    4   0    1   0  ...
7       barnero01    1871      1    BS1  NaN   31  157  66   63  10  ...
8       barrebi01    1871      1    FW1  NaN    1    5   1    1   1  ...
9       barrofr01    1871      1    BS1  NaN   18   86  13   13   2  ...
10       bassjo01    1871      1    CL1  NaN   22   89  18   27   1  ...
11      battijo01    1871      1    CL1  NaN    1    3   0    0   0  ...
12      bealsto01    1871      1    WS3  NaN   10   36   6    7   0  ...
13      beaveed01    1871      1    TRO  NaN    3   15   7    6   0  ...
14      bechtge01    1871      1    PH1  NaN   20   94  24   33   9  ...
15      bellast01    1871      1    TRO  NaN   29  128  26   32   3  ...
16      berkena01    1871      1    PH1  NaN    1    4   0    0   0  ...
17      berryto01    1871      1    PH1  NaN    1    4   0    1   0  ...
18      berthha01    1871      1    WS3  NaN   17   73  17   17   1  ...
19      biermch01    1871      1    FW1  NaN    1    2   0    0   0  ...
20       birdge01    1871      1    RC1  NaN   25  106  19   28   2  ...
21      birdsda01    1871      1    BS1  NaN   29  152  51   46   3  ...
22      brainas01    1871      1    WS3  NaN   30  134  24   30   4  ...
23      brannmi01    1871      1    CH1  NaN    3   14   2    1   0  ...
24      burrohe01    1871      1    WS3  NaN   12   63  11   15   2  ...
25      careyto01    1871      1    FW1  NaN   19   87  16   20   2  ...
26      carleji01    1871      1    CL1  NaN   29  127  31   32   8  ...
27       conefr01    1871      1    BS1  NaN   19   77  17   20   3  ...
28      connone01    1871      1    TRO  NaN    7   33   6    7   0  ...
29      cravebi01    1871      1    TRO  NaN   27  118  26   38   8  ...
...           ...     ...    ...    ...  ...  ...  ...  ..  ...  ..  ...
101302  wislema01    2015      1    ATL   NL   21   29   0    4   0  ...
101303  wojcias01    2015      1    HOU   AL    5    0   0    0   0  ...
101304   wolfra02    2015      1    DET   AL    8    0   0    0   0  ...
101305   wongko01    2015      1    SLN   NL  150  557  71  146  28  ...
101306   woodal02    2015      1    ATL   NL   20   33   1    5   1  ...
101307   woodal02    2015      2    LAN   NL   12   22   1    4   1  ...
101308   woodtr01    2015      1    CHN   NL   60   30   0    3   0  ...
101309  wootero01    2015      1    MIL   NL    4    1   0    0   0  ...
101310  worleva01    2015      1    PIT   NL   24   17   1    3   1  ...
101311  wrighda03    2015      1    NYN   NL   38  152  24   44   7  ...
101312  wrighmi01    2015      1    BAL   AL   12    2   0    1   0  ...
101313  wrighst01    2015      1    BOS   AL   16    1   0    0   0  ...
101314  wrighwe01    2015      1    BAL   AL    2    0   0    0   0  ...
101315  wrighwe01    2015      2    LAA   AL    9    0   0    0   0  ...
101316  yateski01    2015      1    TBA   AL   20    0   0    0   0  ...
101317  yelicch01    2015      1    MIA   NL  126  476  63  143  30  ...
101318   ynoara01    2015      1    COL   NL   72  127  14   33   8  ...
101319  youngch03    2015      1    KCA   AL   34    4   0    2   0  ...
101320  youngch04    2015      1    NYA   AL  140  318  53   80  20  ...
101321  youngde03    2015      1    BAL   AL   52  174  20   47   6  ...
101322  younger03    2015      1    ATL   NL   35   77   7   13   4  ...
101323  younger03    2015      2    NYN   NL   18    8   9    0   0  ...
101324  zieglbr01    2015      1    ARI   NL   66    0   0    0   0  ...
101325  zimmejo02    2015      1    WAS   NL   33   63   4   10   1  ...
101326  zimmery01    2015      1    WAS   NL   95  346  43   86  25  ...
101327   zitoba01    2015      1    OAK   AL    3    0   0    0   0  ...
101328  zobribe01    2015      1    OAK   AL   67  235  39   63  20  ...
101329  zobribe01    2015      2    KCA   AL   59  232  37   66  16  ...
101330  zuninmi01    2015      1    SEA   AL  112  350  28   61  11  ...
101331   zychto01    2015      1    SEA   AL   13    0   0    0   0  ...

        RBI  SB  CS  BB   SO  IBB  HBP  SH  SF  GIDP
0         0   0   0   0    0  NaN  NaN NaN NaN   NaN
1        13   8   1   4    0  NaN  NaN NaN NaN   NaN
2        19   3   1   2    5  NaN  NaN NaN NaN   NaN
3        27   1   1   0    2  NaN  NaN NaN NaN   NaN
4        16   6   2   2    1  NaN  NaN NaN NaN   NaN
5         5   0   1   0    1  NaN  NaN NaN NaN   NaN
6         2   0   0   1    0  NaN  NaN NaN NaN   NaN
7        34  11   6  13    1  NaN  NaN NaN NaN   NaN
8         1   0   0   0    0  NaN  NaN NaN NaN   NaN
9        11   1   0   0    0  NaN  NaN NaN NaN   NaN
10       18   0   1   3    4  NaN  NaN NaN NaN   NaN
11        0   0   0   1    0  NaN  NaN NaN NaN   NaN
12        1   2   0   2    0  NaN  NaN NaN NaN   NaN
13        5   2   0   0    0  NaN  NaN NaN NaN   NaN
14       21   4   0   2    2  NaN  NaN NaN NaN   NaN
15       23   4   4   9    2  NaN  NaN NaN NaN   NaN
16        0   0   0   0    3  NaN  NaN NaN NaN   NaN
17        0   0   0   0    0  NaN  NaN NaN NaN   NaN
18        8   3   1   4    2  NaN  NaN NaN NaN   NaN
19        0   0   0   1    0  NaN  NaN NaN NaN   NaN
20       13   1   0   3    2  NaN  NaN NaN NaN   NaN
21       24   6   0   4    4  NaN  NaN NaN NaN   NaN
22       21   4   0   7    2  NaN  NaN NaN NaN   NaN
23        0   0   0   0    0  NaN  NaN NaN NaN   NaN
24       14   0   0   1    1  NaN  NaN NaN NaN   NaN
25       10   5   0   2    1  NaN  NaN NaN NaN   NaN
26       18   2   1   8    3  NaN  NaN NaN NaN   NaN
27       16  12   1   8    2  NaN  NaN NaN NaN   NaN
28        2   0   0   0    0  NaN  NaN NaN NaN   NaN
29       26   6   3   3    0  NaN  NaN NaN NaN   NaN
...     ...  ..  ..  ..  ...  ...  ...  ..  ..   ...
101302    1   0   0   2    6    0    0   5   0     0
101303    0   0   0   0    0    0    0   0   0     0
101304    0   0   0   0    0    0    0   0   0     0
101305   61  15   8  36   95    2   15   0   5    10
101306    4   0   0   3   21    0    0   5   0     1
101307    0   0   0   1   13    0    0   3   0     1
101308    2   0   0   2   16    0    0   0   0     0
101309    0   0   0   0    0    0    0   0   0     0
101310    0   0   0   0    6    0    0   1   0     0
101311   17   2   1  22   36    0    0   0   0     4
101312    0   0   0   0    1    0    0   1   0     0
101313    0   0   0   0    0    0    0   1   0     0
101314    0   0   0   0    0    0    0   0   0     0

In [34]:
t_shapes = [(d.name, d.df.shape, d.df.columns) for d in dfs]
t_shapes

[('TeamsHalf.csv',
  (52, 10),
  Index([u'yearID', u'lgID', u'teamID', u'Half', u'divID', u'DivWin', u'Rank',
         u'G', u'W', u'L'],
        dtype='object')),
 ('AwardsShareManagers.csv',
  (414, 7),
  Index([u'awardID', u'yearID', u'lgID', u'playerID', u'pointsWon', u'pointsMax',
         u'votesFirst'],
        dtype='object')),
 ('AwardsPlayers.csv',
  (6078, 6),
  Index([u'playerID', u'awardID', u'yearID', u'lgID', u'tie', u'notes'], dtype='object')),
 ('Batting.csv',
  (101332, 22),
  Index([u'playerID', u'yearID', u'stint', u'teamID', u'lgID', u'G', u'AB', u'R',
         u'H', u'2B', u'3B', u'HR', u'RBI', u'SB', u'CS', u'BB', u'SO', u'IBB',
         u'HBP', u'SH', u'SF', u'GIDP'],
        dtype='object')),
 ('TeamsFranchises.csv',
  (120, 4),
  Index([u'franchID', u'franchName', u'active', u'NAassoc'], dtype='object')),
 ('Appearances.csv',
  (100951, 21),
  Index([u'yearID', u'teamID', u'lgID', u'playerID', u'G_all', u'GS',
         u'G_batting', u'G_defense', u'G_p', u'G_c', u'G_1b', u'G_2b', u'G_3b',
         u'G_ss', u'G_lf', u'G_cf', u'G_rf', u'G_of', u'G_dh', u'G_ph', u'G_pr'],
        dtype='object')),
 ('PitchingPost.csv',
  (5109, 30),
  Index([u'playerID', u'yearID', u'round', u'teamID', u'lgID', u'W', u'L', u'G',
         u'GS', u'CG', u'SHO', u'SV', u'IPouts', u'H', u'ER', u'HR', u'BB',
         u'SO', u'BAOpp', u'ERA', u'IBB', u'WP', u'HBP', u'BK', u'BFP', u'GF',
         u'R', u'SH', u'SF', u'GIDP'],
        dtype='object')),
 ('Pitching.csv',
  (44139, 30),
  Index([u'playerID', u'yearID', u'stint', u'teamID', u'lgID', u'W', u'L', u'G',
         u'GS', u'CG', u'SHO', u'SV', u'IPouts', u'H', u'ER', u'HR', u'BB',
         u'SO', u'BAOpp', u'ERA', u'IBB', u'WP', u'HBP', u'BK', u'BFP', u'GF',
         u'R', u'SH', u'SF', u'GIDP'],
        dtype='object')),
 ('Schools.csv',
  (1207, 5),
  Index([u'schoolID', u'name_full', u'city', u'state', u'country'], dtype='object')),
 ('AllstarFull.csv',
  (5069, 8),
  Index([u'playerID', u'yearID', u'gameNum', u'gameID', u'teamID', u'lgID',
         u'GP', u'startingPos'],
        dtype='object')),
 ('FieldingOF.csv',
  (12028, 6),
  Index([u'playerID', u'yearID', u'stint', u'Glf', u'Gcf', u'Grf'], dtype='object')),
 ('FieldingPost.csv',
  (12311, 17),
  Index([u'playerID', u'yearID', u'teamID', u'lgID', u'round', u'POS', u'G',
         u'GS', u'InnOuts', u'PO', u'A', u'E', u'DP', u'TP', u'PB', u'SB',
         u'CS'],
        dtype='object')),
 ('Teams.csv',
  (2805, 48),
  Index([u'yearID', u'lgID', u'teamID', u'franchID', u'divID', u'Rank', u'G',
         u'Ghome', u'W', u'L', u'DivWin', u'WCWin', u'LgWin', u'WSWin', u'R',
         u'AB', u'H', u'2B', u'3B', u'HR', u'BB', u'SO', u'SB', u'CS', u'HBP',
         u'SF', u'RA', u'ER', u'ERA', u'CG', u'SHO', u'SV', u'IPouts', u'HA',
         u'HRA', u'BBA', u'SOA', u'E', u'DP', u'FP', u'name', u'park',
         u'attendance', u'BPF', u'PPF', u'teamIDBR', u'teamIDlahman45',
         u'teamIDretro'],
        dtype='object')),
 ('Salaries.csv',
  (25575, 5),
  Index([u'yearID', u'teamID', u'lgID', u'playerID', u'salary'], dtype='object')),
 ('AwardsManagers.csv',
  (177, 6),
  Index([u'playerID', u'awardID', u'yearID', u'lgID', u'tie', u'notes'], dtype='object')),
 ('HomeGames.csv',
  (2944, 9),
  Index([u'year.key', u'league.key', u'team.key', u'park.key', u'span.first',
         u'span.last', u'games', u'openings', u'attendance'],
        dtype='object')),
 ('ManagersHalf.csv',
  (93, 10),
  Index([u'playerID', u'yearID', u'teamID', u'lgID', u'inseason', u'half', u'G',
         u'W', u'L', u'rank'],
        dtype='object')),
 ('SeriesPost.csv',
  (307, 9),
  Index([u'yearID', u'round', u'teamIDwinner', u'lgIDwinner', u'teamIDloser',
         u'lgIDloser', u'wins', u'losses', u'ties'],
        dtype='object')),
 ('Fielding.csv',
  (170526, 18),
  Index([u'playerID', u'yearID', u'stint', u'teamID', u'lgID', u'POS', u'G',
         u'GS', u'InnOuts', u'PO', u'A', u'E', u'DP', u'PB', u'WP', u'SB', u'CS',
         u'ZR'],
        dtype='object')),
 ('Parks.csv',
  (250, 6),
  Index([u'park.key', u'park.name', u'park.alias', u'city', u'state',
         u'country'],
        dtype='object')),
 ('HallOfFame.csv',
  (4120, 9),
  Index([u'playerID', u'yearid', u'votedBy', u'ballots', u'needed', u'votes',
         u'inducted', u'category', u'needed_note'],
        dtype='object')),
 ('Managers.csv',
  (3405, 10),
  Index([u'playerID', u'yearID', u'teamID', u'lgID', u'inseason', u'G', u'W',
         u'L', u'rank', u'plyrMgr'],
        dtype='object')),
 ('BattingPost.csv',
  (11690, 22),
  Index([u'yearID', u'round', u'playerID', u'teamID', u'lgID', u'G', u'AB', u'R',
         u'H', u'2B', u'3B', u'HR', u'RBI', u'SB', u'CS', u'BB', u'SO', u'IBB',
         u'HBP', u'SH', u'SF', u'GIDP'],
        dtype='object')),
 ('AwardsSharePlayers.csv',
  (6795, 7),
  Index([u'awardID', u'yearID', u'lgID', u'playerID', u'pointsWon', u'pointsMax',
         u'votesFirst'],
        dtype='object')),
 ('Master.csv',
  (18846, 24),
  Index([u'playerID', u'birthYear', u'birthMonth', u'birthDay', u'birthCountry',
         u'birthState', u'birthCity', u'deathYear', u'deathMonth', u'deathDay',
         u'deathCountry', u'deathState', u'deathCity', u'nameFirst', u'nameLast',
         u'nameGiven', u'weight', u'height', u'bats', u'throws', u'debut',
         u'finalGame', u'retroID', u'bbrefID'],
        dtype='object')),
 ('CollegePlaying.csv',
  (17350, 3),
  Index([u'playerID', u'schoolID', u'yearID'], dtype='object'))]